# Understanding data using University Students datasets

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('college_student_placement_dataset.csv')

## 1. How big is the data?

In [9]:
df.shape

(10000, 10)

## 2. How does the data look like?

In [11]:
df.sample(5)

,College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement
4628,CLG0002,116,9.38,9.59,6,No,9,3,0,No
9286,CLG0004,106,7.91,7.73,10,Yes,1,7,0,No
1767,CLG0067,97,6.77,6.37,10,No,3,2,5,No
5465,CLG0083,99,7.52,8.02,4,Yes,8,7,4,No
217,CLG0067,96,5.42,5.70,4,No,4,9,4,No

## 3. What is the data type of cols?

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   College_ID              10000 non-null  object
 1   IQ                      10000 non-null  int64
 2   Prev_Sem_Result         10000 non-null  float64
 3   CGPA                    10000 non-null  float64
 4   Academic_Performance    10000 non-null  int64
 5   Internship_Experience   10000 non-null  object
 6   Extra_Curricular_Score  10000 non-null  int64
 7   Communication_Skills    10000 non-null  int64
 8   Projects_Completed      10000 non-null  int64
 9   Placement               10000 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 781.4+ KB

## 4. Are there any missing values?

In [16]:
df.isnull().sum()

College_ID                0
IQ                        0
Prev_Sem_Result           0
CGPA                      0
Academic_Performance      0
Internship_Experience     0
Extra_Curricular_Score    0
Communication_Skills      0
Projects_Completed        0
Placement                 0
dtype: int64

## 5. How does the data look matematically?

In [18]:
df.describe()

,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Extra_Curricular_Score,Communication_Skills,Projects_Completed
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,99.471800,7.535673,7.532379,5.546400,4.970900,5.561800,2.513400
std,15.053101,1.447519,1.470141,2.873477,3.160103,2.900866,1.715959
min,41.000000,5.000000,4.540000,1.000000,0.000000,1.000000,0.000000
25%,89.000000,6.290000,6.290000,3.000000,2.000000,3.000000,1.000000
50%,99.000000,7.560000,7.550000,6.000000,5.000000,6.000000,3.000000
75%,110.000000,8.790000,8.770000,8.000000,8.000000,8.000000,4.000000
max,158.000000,10.000000,10.460000,10.000000,10.000000,10.000000,5.000000

## 6. Are there duplicate values?

In [19]:
df.duplicated().sum()

np.int64(0)

## 7. How is the correlation between cols?

In [21]:
df.corr(numeric_only=True)

,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Extra_Curricular_Score,Communication_Skills,Projects_Completed
IQ,1.000000,-0.002640,-0.002859,-0.006827,-0.003458,-0.010896,0.014538
Prev_Sem_Result,-0.002640,1.000000,0.980768,-0.005765,0.009326,-0.017269,0.018434
CGPA,-0.002859,0.980768,1.000000,-0.002958,0.011441,-0.018242,0.020872
Academic_Performance,-0.006827,-0.005765,-0.002958,1.000000,0.011774,-0.019733,-0.013148
Extra_Curricular_Score,-0.003458,0.009326,0.011441,0.011774,1.000000,0.003769,0.008122
Communication_Skills,-0.010896,-0.017269,-0.018242,-0.019733,0.003769,1.000000,-0.004486
Projects_Completed,0.014538,0.018434,0.020872,-0.013148,0.008122,-0.004486,1.000000

In [23]:
df.corr(numeric_only=True)['CGPA']

IQ                       -0.002859
Prev_Sem_Result           0.980768
CGPA                      1.000000
Academic_Performance     -0.002958
Extra_Curricular_Score    0.011441
Communication_Skills     -0.018242
Projects_Completed        0.020872
Name: CGPA, dtype: float64

In [24]:
df.corr(numeric_only=True)['Projects_Completed']

IQ                        0.014538
Prev_Sem_Result           0.018434
CGPA                      0.020872
Academic_Performance     -0.013148
Extra_Curricular_Score    0.008122
Communication_Skills     -0.004486
Projects_Completed        1.000000
Name: Projects_Completed, dtype: float64

In [25]:
df.corr(numeric_only=True)['IQ']

IQ                        1.000000
Prev_Sem_Result          -0.002640
CGPA                     -0.002859
Academic_Performance     -0.006827
Extra_Curricular_Score   -0.003458
Communication_Skills     -0.010896
Projects_Completed        0.014538
Name: IQ, dtype: float64