In [1]:
import pandas as pd
import requests

In [2]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [5]:
for i in range(1, 500):
    url = f"https://api.themoviedb.org/3/movie/top_rated?language=en-US&page={i}"
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer YOUR_TOKEN_HERE"
    }
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        data = response.json().get('results', [])
        if data:
            temp_df = pd.DataFrame(data)[['id', 'title', 'original_language', 'overview', 'popularity', 'release_date', 'vote_average', 'vote_count']]
            df = pd.concat([df, temp_df], ignore_index=True)
    else:
        print(f"Failed to fetch page {i}: Status Code {response.status_code}")

In [6]:
df

,id,title,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,en,Imprisoned in the 1940s for the double murder ...,27.7246,1994-09-23,8.712,28513
1,238,The Godfather,en,"Spanning the years 1945 to 1955, a chronicle o...",27.4118,1972-03-14,8.688,21590
2,803796,KPop Demon Hunters,en,"When K-pop superstars Rumi, Mira and Zoey aren...",243.7102,2025-06-20,8.629,460
3,240,The Godfather Part II,en,In the continuing saga of the Corleone crime f...,15.2504,1974-12-20,8.571,13043
4,424,Schindler's List,en,The true story of how businessman Oskar Schind...,12.2727,1993-12-15,8.565,16520
...,...,...,...,...,...,...,...,...
19975,2149,Body of Evidence,en,When an elderly millionaire is found dead with...,3.1287,1993-01-15,5.003,314
19976,523638,Prisoners of the Ghostland,en,In the treacherous frontier city of Samurai To...,1.6296,2021-08-31,5.002,605
19977,14564,Rings,en,Julia becomes worried about her boyfriend Holt...,5.3973,2017-02-01,5.000,2527
19978,3093,Basic Instinct 2,en,Novelist Catherine Tramell is once again in tr...,3.8726,2006-03-29,4.997,788
19979,2182,Attack of the Killer Tomatoes!,en,After a wave of reports of mysterious attacks ...,1.4312,1978-10-04,5.000,307

In [7]:
df.to_csv('movies_list.csv')